.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    display: flex;
}

.CrazyUserViewContainer, .UserListViewContainer {
    display: flex;
    flex-wrap: wrap;
}

.CrazyListItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 200px;
}

.CrazyListItem h3 {
    margin: 0;
    position: absolute;
}

.UserListViewContainer .User {
    padding: 10px;
    min-width: 200px;
}
